In [4]:
import pandas as pd
import numpy as np
import csv
df = pd.read_csv('work_out.csv')
print(df)

      height    sex      weight  age  experience  exercise frequency per week  \
0         85   True  299.277383   50         0.5                            8
1         71   True  156.608023   43         1.0                            7
2         83  False  277.715875   29         0.5                            4
3         58  False  103.264751   25         1.5                            2
4         75   True  178.911807   36         1.5                            4
...      ...    ...         ...  ...         ...                          ...
9994      71   True  160.336785   26         1.5                            5
9995      74  False  192.400000   31         1.5                            7
9996      67   True  189.265946   22         1.5                            6
9997      51  False   88.500597   55         0.5                            8
9998      74   True  206.576842   70         1.5                            6

      reps  bench  curl  squat  pulldown  row  pushdown  toe  shoulder  rdl
0       15     45    15     65        25   50        15   60        15   25
1       15     50    15     55        25   45        15   55        15   30
2        5     35    10     35        25   25        10   35        10   25
3        5     55    20     75        40   60        20   75        20   45
4       10     90    30    120        65   90        30  120        30   55
...    ...    ...   ...    ...       ...  ...       ...  ...       ...  ...
9994    15     75    25    100        55   80        25   95        25   50
9995    10     95    30    125        60   95        30  125        30   65
9996    15    100    35    145        65  105        35  135        35   70
9997    10     20     5     20        10   15         5   20         5   10
9998    15    110    35    135        75  100        35  135        35   75

[9999 rows x 16 columns]

In [8]:
X = df.iloc[:, :7]
y = df.iloc[:, 7:]
y

      bench  curl  squat  pulldown  row  pushdown  toe  shoulder  rdl
0        45    15     65        25   50        15   60        15   25
1        50    15     55        25   45        15   55        15   30
2        35    10     35        25   25        10   35        10   25
3        55    20     75        40   60        20   75        20   45
4        90    30    120        65   90        30  120        30   55
...     ...   ...    ...       ...  ...       ...  ...       ...  ...
9994     75    25    100        55   80        25   95        25   50
9995     95    30    125        60   95        30  125        30   65
9996    100    35    145        65  105        35  135        35   70
9997     20     5     20        10   15         5   20         5   10
9998    110    35    135        75  100        35  135        35   75

[9999 rows x 9 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [10]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [11]:
y_pred = regressor.predict(X_test)

In [12]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9790131879251821